# Ignore .vscode directory
.vscode/

# Ignore all text files
*.txt

# Ignore .exe files
*.exe

# Optional: Ignore other common text file extensions
*.log
*.md
*.rtf

# Optional: Ignore binary files that often accompany executables
*.dll
*.pdb

# Ignore generated lexer file
lex.yy.c
